<div>
	<button class="btn btn-secondary" ng-click="logout()">Logout</button>
</div>
<div role="main" class="container">
<form class="form-inline">
	<div class="form-group">
		<label>{{ 'Search' | translate }}</label>
		<input type="text" ng-model="search" class="form-control">
</form>
<table class="table table-stripped table-hover">
	<thead>
		<tr>
			<th>Id</th>
			<th ng-click="sort('name')">{{ 'Name' | translate }}
				<span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
			</th>
			<th ng-click="sort('price')">{{ 'Price' | translate }}
				<span class="glyphicon sort-icon" ng-show="sortKey=='price'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
			</th>
			<th>{{ 'Favorite' | translate }}</th>
		<tr>
	</thead>
	<tbody>
		<tr dir-paginate="article in articles|itemsPerPage:20|filter:search|orderBy:sortKey:reverse">
			<td>{{article.id}}</td>
			<td>{{article.name}}</td>
			<td>{{article.price}}</td>
			<td><button type="button" class="btn" ng-click="addToFavorites(article.id)"><span class="glyphicon glyphicon-plus"></span></button><td>
		</tr>
	</tbody>
	<dir-pagination-controls
		max-size="5"
		direction-links="true"
		boundary-links="true">
	</dir-pagination-controls>
</table>
</div>