<div class="container"> 
	<div class="card" style="width: 28rem;">
		<div class="card-header">
			<button class="btn" ng-click="lang('es')">ES</button>
			<button class="btn" ng-click="lang('en')">EN</button>
		</div>
		<div class="card-body">
		  <h4 class="card-title">{{ 'Home' | translate }}</h4>
		  <form>
			<button class="btn btn-primary" ng-click="goToLogin()">{{ 'Login' | translate }}</button>
			<button class="btn btn-secondary" ng-click="goToRegister()">{{ 'Register' | translate }}</button>
		  </form>
		</div>
	</div>
</div>