<div class="container"> 
	<div class="card" style="width: 18rem;">
		<div class="card-header">
			<button class="btn btn-info" ng-click="goHome()">{{ 'Home' | translate }}</button>
		</div>
		<div class="card-body">
		  <h4 class="card-title">{{ 'Register' | translate }}</h4>
		  <form>
			<div class="form-group">
			  <label for="InputUsername">{{ 'Username' | translate }}</label>
			  <input type="text" class="form-control" id="InputUsername" ng-model="username">
			</div>
			<div class="form-group">
			  <label for="InputPassword">{{ 'Password' | translate }}</label>
			  <input type="password" class="form-control" id="InputPassword" ng-model="password">
			</div>
			<button class="btn btn-primary" ng-click="register()">{{ 'Register' | translate }}</button>
		  </form>
		</div>
	</div>
</div>